
@*@model PMISBussinessLayer.Entities.Project*@
@using PMIS2.DTO;
@model InsertProjectDTO 
@{
    ViewData["Title"] = "Create";
}

<h1>TO Create New Project</h1>


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTypeId" class="control-label"></label>
                <select asp-for="ProjectTypeId" class="form-control" asp-items="ViewBag.ProjectTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStatusId" class="control-label"></label>
                <select asp-for="ProjectStatusId" class="form-control" asp-items="ViewBag.ProjectStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContractAmount" class="control-label"></label>
                <input asp-for="ContractAmount" class="form-control" />
                <span asp-validation-for="ContractAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractFile" class="control-label"></label>
                <input asp-for="ContractFile" class="form-control" type="file" />
                <span asp-validation-for="ContractFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
